.c-password-required{
  border-top: 3px solid  #e47506;
  border-bottom: 3px solid  #e47506;
  border-radius: 3px;
  padding: 0.8rem  0.8rem  0.8rem  1.2rem;
  margin-bottom: 1.6rem;
  background-color: rgba(242, 196, 145,0.3);
}

.c-required__text{
  font-size: 1.4rem;
  font-weight: 500;
}

.c-required__item{
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  list-style-image: url('../../img/incorrect_icon.png');
  margin-left: 1.8rem;
}

@media screen and (min-width: 1000px){
  
}